@{
    ViewBag.Title = "Index";
;
}
    <main class="container">
        <ol type="A">
            <h1>@ViewData["TitleLab"]</h1>
            <h2>Список</h2>
            <li>Элемент 0 списка</li>
            <li>Элемент 1 списка</li>
            <li>Элемент 2 списка</li>
            <li>Элемент 3 списка</li>
            <li>Элемент 4 списка</li>
        </ol>
        <hr />

        <form method="POST" class="container mt-4">
            
            <div class="row mb-3 align-items-center">
        <div class="d-flex align-items-center">
            <h2 class="me-3 mb-0">Форма</h2>
            <select id="selectItem" name="selectedItemId" class="form-select" asp-items="ViewBag.Items" style="max-width: 300px;">
                <option value="">-- Выберите --</option>
            </select>
        </div>
    </div>

            <div class="row mb-3 align-items-center">
                <div class="col-sm-10 offset-sm-2 d-flex">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" id="gridCheck1" name="checkbox1">
                        <label class="form-check-label" for="gridCheck1">Чек-бокс 1</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck2" name="checkbox2">
                        <label class="form-check-label" for="gridCheck2">Чек-бокс 2</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <div class="col-sm-10 offset-sm-2 d-flex">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="radioGroup" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">Радио 1</label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="radioGroup" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">Радио 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioGroup" id="gridRadios3" value="option3">
                        <label class="form-check-label" for="gridRadios3">Радио 3</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="inputText3" class="col-sm-2 col-form-label">Логин</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Введите ваш логиин" name="inputLogin">
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Введите ваш пароль" name="inutPass">
                </div>
            </div>

            <button type="submit" class="btn btn-info">Войти</button>
        </form>
    </main>

